.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cart-wrapper {
  width: 355px;
  height: 245px;
  border: 1px solid black;
}
img{
  width: 20rem;
}

.button{
  background-color: blueviolet;
  border-radius: 6px;
  width: 95px;
 
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.cart{
  width: 3rem;
  position: absolute;
  right: 1%;
  top: 1%;
}
